absl-py==0.15.0
alabaster==0.7.13
alembic==1.14.0
altair==5.4.1
altgraph==0.17.3
AmberLite==22.0
AmberUtils==21.0
apptools==5.2.1
apturl==0.5.2
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
babel==2.16.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bel-resources==0.0.3
biopython==1.79
bioregistry==0.9.95
bleach==6.0.0
blinker==1.8.2
bokeh==2.4.3
Brlapi==0.7.0
CacheControl==0.12.6
cachetools==4.0.0
cclib==1.6.2
CDPKit==1.1.1
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==3.0.1
click==8.1.7
click-plugins==1.1.1
colorama==0.4.3
coloredlogs==7.3
colorlog==6.9.0
command-not-found==0.3
conda-package-handling==1.6.0
configobj==5.0.8
cPython==0.0.6
cryptography==2.8
cupshelpers==1.0
cupy-cuda101==9.6.0
cupy-cuda112==10.6.0
cupy-cuda114==10.6.0
curies==0.6.0
cwltool==2.0.20200224214940
cycler==0.11.0
Cython==0.29.34
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.16
debugpy==1.6.3
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info==0.23+ubuntu1.1
dnspython==2.3.0
docutils==0.20.1
duplicity==0.8.12.0
entrypoints==0.3
envisage==7.0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.1.1
fasteners==0.14.1
fastrlock==0.8.1
filelock==3.16.1
Flask==3.0.3
flatbuffers==1.12
fonttools==4.34.4
future==0.18.2
gast==0.4.0
GaussSum==3.0.2
gemmi==0.6.6
gitdb==4.0.11
GitPython==3.1.43
google-api-python-client==1.7.11
google-auth==2.36.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.13.1
greenlet==3.1.1
grpcio==1.34.1
h11==0.14.0
h5py==3.1.0
htcondor==23.10.19
html5lib==1.0.1
httplib2==0.14.0
humanfriendly==4.18
humanize==4.7.0
idna==2.8
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==6.0.0
iniconfig==2.0.0
ipykernel==6.16.2
ipython==8.5.0
ipython_genutils==0.2.0
isodate==0.6.0
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.18.6
jsonschema-specifications==2023.7.1
jupyter_client==7.4.4
jupyter_core==4.11.2
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==18.1.1
llvmlite==0.39.1
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.6
mayavi==4.8.1
mdtraj==1.10.0
mdurl==0.1.2
mistune==0.8.4
mlab==1.1.4
mmcif-pdbx==2.0.1
MMPBSA.py==16.0
monotonic==1.5
more-click==0.1.2
more-itertools==10.1.0
msgpack==0.6.2
multisplitby==0.0.1
mypy-extensions==0.4.3
narwhals==1.18.4
nest-asyncio==1.5.6
netifaces==0.10.4
networkx==2.4
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
numpy-stl==3.0.1
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
openmm==0.2
openpyxl==3.1.2
opt-einsum==3.3.0
optuna==4.1.0
outcome==1.2.0
packaging==21.3
packmol-memgen==1.2.3rc0
pandas==1.4.3
panel==0.14.4
param==1.13.0
paramiko==2.6.0
parasail==1.3.4
ParmEd==3.4.1
parso==0.8.3
patsy==0.5.3
pdb2pqr==3.6.2
pdb4amber==22.0
pexpect==4.6.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==9.4.0
pip==24.3.1
pkgutil_resolve_name==1.3.10
plotly==5.13.0
plotly-express==0.4.1
pluggy==1.0.0
ProDy==2.4.0
progressbar2==4.2.0
prompt-toolkit==3.0.31
propka==3.5.1
ProtCHOIR==1.2.22
protobuf==5.29.1
prov==1.5.2
psutil==5.5.1
psycopg2-binary==2.9.7
pure-eval==0.2.2
py3Dmol==2.4.0
pyarrow==17.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pybel==0.15.5
PyBluez==0.22
pycairo==1.16.2
pycrypto==2.6.1
pyct==0.5.0
pycups==1.9.73
pydantic==1.10.12
pydeck==0.9.1
PyDrive==1.3.1
pyface==8.0.0
Pygments==2.13.0
PyGObject==3.36.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.2
PyJWT==1.7.1
pymacaroons==0.13.0
pymol==2.3.0
pymongo==4.3.3
pymp==0.0.6
pymp-pypi==0.5.0
pyMSMT==22.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pypng==0.20220715.0
PyQt5==5.14.1
pyRFC3339==1.1
PySocks==1.7.1
pystow==0.5.0
pytest==7.2.2
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-utils==3.5.2
pytraj==2.0.6
PyTrie==0.4.0
pytz==2022.1
pyviz-comms==2.2.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==24.0.1
qrcode==7.4.2
ratelimit==2.2.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
rdkit==2023.3.2
referencing==0.30.2
reportlab==3.5.34
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
retrying==1.3.4
rich==13.9.4
rpds-py==0.9.2
rsa==4.0
ruamel.yaml==0.15.89
sander==22.0
schema-salad==5.0.20200220195218
scikit-learn==1.3.2
scipy==1.10.1
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==2.3.1
selenium==4.7.2
setuptools==45.2.0
shellescape==3.4.1
simplejson==3.16.0
sip==4.19.21
six==1.15.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==1.9.5
SPARQLWrapper==1.8.5
Sphinx==7.1.2
sphinx-autodoc-typehints==2.0.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.36
ssh-import-id==5.10
stack-data==0.5.1
statannot==0.2.3
statsmodels==0.13.5
stl==0.0.3
streamlit==1.40.1
systemd-python==234
tabulate==0.9.0
tenacity==8.2.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==1.1.0
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.5.0
traits==6.4.3
traitsui==8.0.0
trio==0.22.0
trio-websocket==0.9.2
triton==3.1.0
typing==3.7.4.3
typing_extensions==4.12.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.26.14
usb-creator==0.3.7
vtk==9.3.0
wadllib==1.3.3
watchdog==4.0.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.45.0
wrapt==1.12.1
wsproto==1.2.0
xkit==0.0.0
zipp==3.12.0
